{% extends 'base2.html' %}

{% block content %}


<h2>Uploaded</h2>

<div id="downloadtable"></div>

<div class="winetable3">
<table class="table2 table table-striped">
  <thead>
    <tr>
      <th>Wine</th>
      <th>Cost</th>
      <th>Vintage</th>
      <th>Region</th>
      <th>Format</th>
      <th>Markup Price</th>
      <th>Markup (%)</th>
      <th>Negoce</th>
      <th>Quantity</th>
      <th>Type</th>
      <th>Vendor</th>
    <tr>
  </thead>
  <tbody>
  {%if error %}
    {{error}}
  {% else %}
    {% for wine,price,year,region,format,markup,percentile,negoce,quantity,a_type,vendor in Results %}
    <tr><td>{{wine}}</td><td>{{price}}</td><td>{{year}}</td><td>{{region}}</td><td>{{format}}</td>
    <td>{{markup}}</td><td>{{percentile}}</td><td>{{negoce}}</td><td>{{quantity}}</td><td>{{a_type}}</td><td>{{vendor}}</td></tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>
</div>
{% if error %}
  <p>Please load a csv file</p>
{% else %}
<form method="post" id="wineform" action="/results/">
  {% csrf_token %}
  <input id="wineresults" type="hidden" name="data" value="{{Results}}">
  <button type="submit" name="checkdata" class="winebutton" id="fire_script">Sync with WS</button>
</form>
{% endif %}

<div id="output"></div>

<div class="winetable3 selectorAjax"></div>

<form method="post" id="winedownloaddata">
  {% csrf_token %}
  <input id="winedownloadresults" type="hidden" name="data" value="{{Results}}">
  <!-- <button type="submit" name="checkdata" class="winebutton" id="fire_script">Download</button>-->
</form>


<!-- <script type="text/javascript">
makeAllSortable2();
</script> -->


<script type="text/javascript">
$(function(){
  $('.table2').tablesorter(); 
});
</script>

{% endblock %}
