{% extends 'base2.html' %}

{% block content %}

{{nan}}

{% if error %}
  <p>Please load a csv file</p>
{% else %}
<div class="manualinp">
    <form name="getresults" action="/uploadedsmallerfile/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="alldata" value="{{msg}}"/>
        <input type="submit" value="Download Data" />
    </form>
</div>
{% endif %}

<div id="downloadtable"></div>

<div class="largertables">
<table class="table2 table table-striped smallerfileclass">
  <thead>
    <tr>
      <th>Item ID</th>
      <th>Wine</th>
      <th>Cost</th>
      <th>Vintage</th>
      <th>Rating</th>
      <th>Type (English)</th>
      <th>Type (Chinese)</th>
      <th>Format</th>
      <th>Vendor (English)</th>
      <th>Vendor (Chinese)</th>
      <th>Region (English)</th>
      <th>Region (Chinese)</th>
      <th>Qty</th>
      <th>Negoce</th>
      <th>Country (English)</th>
      <th>Country (Chinese)</th>
      <th>Growth</th>
    <tr>
  </thead>
  <tbody>
  {%if error %}
    {{error}}
  {% else %}

    {% for ItemIDS,Wines,Costs,Vintages,Ratings,TypeEnglish,TypeChinese,Formats,VendorEnglish,VendorChinese, RegionEnglish,RegionChinese,Quantities,Negoces,CountryEnglish,CountryChinese,Growth in Results %}
    <tr><td>{{ItemIDS}}</td><td>{{Wines}}</td><td>{{Costs}}</td><td>{{Vintages}}</td><td>{{Ratings}}</td><td>{{TypeEnglish}}</td>
    <td>{{TypeChinese}}</td><td>{{Formats}}</td><td>{{VendorEnglish}}</td><td>{{VendorChinese}}</td><td>{{RegionEnglish}}</td>
    <td>{{RegionChinese}}</td><td>{{Quantities}}</td><td>{{Negoces}}</td><td>{{CountryEnglish}}</td><td>{{CountryChinese}}</td>
    <td>{{Growth}}</td></tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>
</div>

<div id="output"></div>

<div class="winetable3 selectorAjax"></div>


<!-- <script type="text/javascript">
makeAllSortable2();
</script> -->


<script type="text/javascript">
$(function(){
  $('.table2').tablesorter(); 
});
</script>

{% endblock %}
