{% extends 'pages_base.html' %}

{% load staticfiles %}
{% block header %}

<link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ajax2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
<script type="text/javascript" src="{% static 'js/helper_functions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>

{% endblock %}

{% block content %}

<div class="manualinput">
<p>
<form method="post" action="">
{% csrf_token %}
<input type=text name="year" placeholder="{{year}}"/>
<input type=text name="wine" placeholder="{{wine}}" />
<input type="submit">
</form>
</p>
</div>

{% if msg %}
<div class="labelclass">

</div>

<div class="winetable3">
<table class="table2 table table-striped individualwine">
  <thead>
    <tr>
      <th>Merchant</th>
      <th>price</th>
      <th>bottle</th>
      <th>link</th>
    <tr>
  </thead>
  <tbody>
  {%if error %}
    {{error}}
  {% else %}
    {% for merchant, price, bottle, link in values %}
    <tr>
      <td>{{merchant}}</td><td>{{price}}</td><td>{{bottle}}</td><td><a href="{{link}}">link</a></td>
    </tr>
    {% endfor %}
  {% endif %}
{% endif %}
{% endblock %} 
