{% extends 'pages_base.html' %}

{% load staticfiles %}
{% block header %}

<link href="{% static 'new_css/checkboxes.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<form class="remover" name="remover2" method="POST">    
    {% csrf_token %}
    <div class="form-group badge-checkboxes">
        
        {% if files %}
            {% for file in files %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="checkbox" name="checks" value="{{file.file}}" />
                        <span class="badge">{{file.name}}</span>
                    </label>
                </div>
            {% endfor%}
        {% endif %}
    </div>
    {% if not results %}
    <input type="submit" value="Remove Files" />
    {% endif %}    
</form>

{{msg}}
<div class="results">

{% if results %}

<h3>Files removed:</h3>

{% for file in results %}

<h4>{{file}}</h4>

{% endfor %}
{% endif %}

{% if error %}
  <h2>We have an error: {{error}}</h2>
{% endif %}
</div>

{% endblock %} 
