{% extends 'pages_base.html' %}

{% load staticfiles %}
{% block header %}

<link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ajax2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sync.js' %}"></script>
<script type="text/javascript" src="{% static 'js/helper_functions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>

{% endblock %}

{% block content %}

<div class="manualinput">
<p>
it should take 10 minutes to run the script
<form method="post" action="">
{% csrf_token %}

<input type="submit" id="syncdb" value="Launch Script">
</form>
</p>
</div>

<div id="output"></div>

{% endblock %} 
